body
{
    background-image: url("../GUI_Resources/Background5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}



#Admin_choices_table tr,#Admin_choices_table td
{
    /* border: solid black 2px; */
    padding: 15px;
}

#Admin_choices_table
{   
    background-color: rgba(240, 248, 255, 0.3);
    border: dotted black 5px; 
    border-radius: 30px;
}

.Admin_Choices_btns
{
    height: 70px;
    width: 250px;
}

#Admin_Choices_Box
{
    position: absolute;
    left: 43%;
    top : 20%;
}