#Login_box
{
   position: absolute;
   border: dashed black 5px; 
   border-radius: 30px;
   left: 36%;
   top: 38%;
   width: 550px;
   height: 250px; 
   padding: 20px;
   background-color: rgba(255, 255, 255, 0.493);
}

#login_table tr,#login_table td
{
    margin: 20px;
     /* border: solid; */
     padding: 10px;
}

#login_button
{
    height: 30px;
    width: 100px;
}