#Register_User_table tr,#Register_User_table td
{
    /* border: solid black 2px; */
    padding: 20px;
}

#Register_User_table
{
    background-color: rgba(255, 255, 255, 0.364);
    position: absolute;
    top: 32%;
    left: 38%;
    border: dotted black 5px; 
    border-radius: 30px;
}
