.Student_table th
{
    width: 300px;
    border: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.582);
    border-radius: 30px;
}


.Student_table td
{
    width: 300px;
    border: solid;
    border-color: black;
    border-width: 0px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0.37);
}

.Problem_Setter_table th
{
    width: 300px;
    border: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.3);
    border-radius: 30px;
}

.Problem_Setter_table tr
{
    width: 300px;
    border: solid;
    border-color: black;
    border-width: 0px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0.37);
}

#table_divs
{
    width: 1000px;
    position: absolute;
    text-align: center;
    right: 40%;
    top: 25%;
    /* border: dotted black 2px; */
}

#Current_edit_div
{
    position: absolute;
    width: 400px;
    height: 170px;
    left: 70%;
    top: 35%;
    background-color: rgba(240, 248, 255, 0.3);
    border: dotted black 3px; 
    border-radius: 15px;
}


#Current_Edit_table
{
    position: absolute;
    left: 10%;
    top: 10%;
}